<ion-view title="Deposit">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 41px;"></div>
        <div class="button-bar">
            <button class="button button-stable button-block ">1</button>
            <button class="button button-stable button-block ">2</button>
            <button class="button button-stable button-block ">3</button>
        </div>
        <div class="spacer" style="width: 300px; height: 52px;"></div>
        <div class="button-bar">
            <button class="button button-stable button-block ">1</button>
            <button class="button button-stable button-block ">3</button>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <button class="button button-stable button-block ">Tap me!</button>
    </ion-content>
</ion-view>