
<ion-view title="Home" hide-nav-bar = "true">
    <ion-content overflow-scroll="true" padding="" class="">
        <ion-list>
            <ion-item class="facepic">
                <div class="row">
                    <div class="col">
                        <div>
                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jesseddy/128.jpg" class="img-circle" style="border:2px solid red">
                        </div>
                    </div>
                    <div class="col col-75 text-center" style="padding-top:8px;padding-left:100px;">
                        <div class="row text-center">
                           <div class="col text-center">
                              <span style="font-size:28px;font-weight:bold;color: white;">Brittany Verge</span>
                              <br>
                              <span style="color: white;">Level 1 <i class="fa fa-trophy"></i></span>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col text-center">
                              <ng-include src="getProgressInclude()"></ng-include>
                           </div>
                        </div>
                    </div>
                </div>
<!--                 <div class="progress" style="margin-top:10px;">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                      aria-valuemin="0" aria-valuemax="100" style="width:40%">
                      40% Complete (success)
                    </div>
                </div> -->
            </ion-item>
        </ion-list>
        <div style="border-top:1px solid #ddd"></div>
        <!-- <div class="spacer" style="width: 300px; height: 23px"></div> -->

<!--         <div class="row" style="background-color: #ddd">
            <div class="col">
                <a ui-sref="tabsController.redeem" class="button button-medium ion-bag icon button-assertive" style="margin-left:23vw;">&nbsp;&nbsp;Redeem!</a>
            </div>
            <div class="col">
                <a ui-sref="tabsController.deposit" class="button button-medium ion-plus-circled icon button-assertive button-outline" style="margin-left:5vw;">&nbsp;&nbsp;Contribute!</a>
            </div>
        </div> -->

    <ng-include src="getInclude()"></ng-include>

    <!-- <ng-include src="'templates/modules/empty-state.html'"></ng-include> -->

    </ion-content>
</ion-view>
