
<ion-view title="Home" hide-nav-bar = "true">
    <ion-content overflow-scroll="true" padding="true" class="">
        <ion-list>
            <ion-item class="item-thumbnail-left">

                  <img src = "https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" class = "img-circle">

                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 23px;"></div>
        <a ui-sref="tabsController.deposit" class="button  button-block  icon-left ion-bag">Redeem!</a>
        <div class="spacer" style="width: 300px; height: 23px;"></div>
        <ion-list></ion-list>
        <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body"></div>
        </div>
    </ion-content>
</ion-view>
