<ion-view hide-nav-bar="true" hide-back-button="true">

<ion-content class="main-page home-bg content-bg overlay-content" scroll="false">
   <div class="logo">
    <img src="../img/logo.png">
   </div>

   <div class="slogan">
    <p>
      Simplified management.
    </p>

   </div>

   <button class="button button-blue" ng-click="navigateTo('tabsController.home')">
      Sign In
   </button>

<!--    <button class="button button-transparent" ng-click="navigateTo('app.auth.signup')">
      Sign up
   </button> -->
   
</ion-content>

</ion-view>