<ion-view title="Stats" hide-nav-bar="true">
<ion-item class="app-header">Stats</ion-item>

    <ion-content overflow-scroll="true" padding="true" class="has-header">

<h4>Overall Goals (Remaining Amount) $3000k</h4>
<br>

        <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colours="colors" height="100">
        </canvas> 

        </div>
        <ion-list></ion-list>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <ion-list sty>
            <ion-item style="border-color:#ddd;">
            <div class="progress" style="margin-top:12px;">
            <div class="progress-bar progress-bar-info mortgage-color" role="progressbar" aria-valuenow="93"
                                      aria-valuemin="0" aria-valuemax="100" style="width:93%;">
                                      <span>$3500 to go</span>
                                    </div></div>Mortgage<span style="float: right;">Goal: $50k</span></ion-item>
            <ion-item style="border-color:#ddd;">
            <div class="progress" style="margin-top:12px;">
            <div class="progress-bar progress-bar-success student-color" role="progressbar" aria-valuenow="80"
                                      aria-valuemin="0" aria-valuemax="100" style="width:80%;">
                                      <span>$490 to go</span>
                                    </div></div>Student Loan (OSAP)s<span style="float: right;">Goal: $2459</span></ion-item>
            <ion-item style="border-color:#ddd;">
            <div class="progress" style="margin-top:12px;">
            <div class="progress-bar progress-bar-warning rainy-color" role="progressbar" aria-valuenow="95"
                                      aria-valuemin="0" aria-valuemax="100" style="width:95%;">
                                      <span>$50 to go</span>
                                    </div></div>
                                    Rainy Day Money 
                                    <span style="float: right;">Goal: $1k</span></ion-item>
        </ion-list>
        <br>

    </ion-content>
</ion-view>
