<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-striped tabs-color-assertive">
        <ion-tab title="Home" icon="ion-android-home" href="#/page2/home">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Make A Deposit" icon="ion-plus-circled" href="#/page2/deposit">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Redeem an Offer" icon="ion-bag" href="#/page2/redeem">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Stats" icon="ion-ios-pulse-strong" href="#/page2/stats">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>